<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar_header">
            <img src="../../../assets/images/no-image.jpg" class="text_header_sidebar"/>
        </div>

        <div class="content">
            <a class="side_content" href="">Dashboard</a>
        </div>

        
        <div class="content">
            <a class="side_content" href="">Pembelian</a>
        </div>

        <div class="content">
            <a class="side_content" href="">Penjualan</a>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
